<p id="notice"><%= notice %></p>

<h1>Conversations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Ad Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.user.email %></td>
        <td><%= conversation.flat.title %></td>
        <td>
         <%= link_to '', conversation , class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-envelope" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

